= simple_form_for(@workout, html: { class: 'form-horizontal'}) do |f|
	= f.input :date, label: "Date", input_html: { class: "" }
	= f.input :workout, label: "What did you work?", input_html: { class: "form-control" }
	= f.input :mood, label: "How did you feel?", input_html: { class: "form-control" }
	= f.input :length, label: "How long did you work?", input_html: { class: "form-control" }
	<br>
	= f.button :submit
